* {
    font-family: 'Roboto';
}
body {
    background: #FFF !important;
}

/**HEADER**/
header{
    height: 520px;
    background: url('../img/header-background.png') #000;
    background-size: cover;
    background-position: fixed;
}
nav.navbar{
    background: transparent !important;
}
.ladoa p{
    font-family: 'Open Sans' !important;
    font-weight: 800;
    font-size: 60px !important;
    text-align: right;
}
/**END**/
/**BOTTOMHEADER**/
#main{
    
}
/**END**/
#navbar img{
    width: 50px;
}

.msg {
    background: #EEE;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

div#events-container {
    padding: 0px 70px;
}