
body {
    

    background-color: #041c36;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-seif;
    font-size: 16px;
    font-weight: bold;
    border-left: 100px solid  #041c36;
    border-right: 100px solid  #041c36;
     
}

form {   
    padding: 30px;
    text-align: center;
    background-color: #15485e;
    border-top: 5px solid #0d607c;
    border-bottom: 12px solid #0d607c;
    
    
}

#titulo0{
    
    
    text-align: center;
    font-size: 50px;
    background-color: #15485e;
    color: white;
    border-top: 4px solid #0d607c;
    border-bottom: 4px solid #0d607c;
}

#titulo1{
    
    text-align: center;
    font-size: 20px;
    background-color: #15485e;
    color: white;
    border-bottom: 4px solid #0d607c;
}

#titulo2{
    font-family: Arial,Helvetica, sans-serif;
    text-align: left;
    font-size: 10px;
    text-align: right;
    color: white;
    
}

#nom,#lab,#cp,#tel,#estad,#city,#ru,#sen,#pag{color:white}


#div1{
    padding-top: 100px;
    background-color: #041c36;
    border-bottom: 10px solid #15485e;
    
}




